@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
@keyframes scaleInAnimation {
    0% {
        scale: 0;
        }
    100% {
        scale: 1;
       }
  }
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        }
    100% {
         opacity: 1;
       }
}
html{
    background: black;
    transition: 1.5s;
}
body{
    animation: fadeInAnimation ease 1.2s;
    background: linear-gradient(#4d5d86,#000000);
    min-height: 100vh;
    overflow-x: hidden;
    transition: 1s;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.fadeout{
    opacity: 0;
}
.scaleout{
    scale: 0;
    transition: 1s;
}
.blackout{
    background: black;
}
.blurout{
    filter: blur(20px);
    transition: 0.8s;
}
header{
    animation: scaleInAnimation ease 1.2s;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    min-width: 10%;
    display: flex;
    align-items: center;
}
header .logo img:first-child{
    width: 12vh;
    border-radius: 1000px;
    box-shadow: 0px 0px 20px 10px #7f614549;
}
header .logo img:last-child{
    margin-bottom: 6%;
    margin-left: 10px;
    width: 1.5em;
}
header .logo p{
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    line-height: 20px;
}
header .twitter-logo{
    display: flex;
    justify-content: end;
    align-items: center;
}
header .twitter-logo img{
    margin-left: 20px;
    width: 10%;
    height: 10%;
}
header h1{
    color: #fff;
    font-weight: bold;
    font-size: 5em;
    text-transform: uppercase;
}
header .account{
    color: rgb(153, 153, 153);
    font-size: 0.5em;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    cursor: pointer;
    font-size: 1.4em;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.home{
    color: #2b1055;
    background: #fff;
    transition: 0.2s; 
}
.home:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.096);
    box-shadow: 3px -3px 0px 1px rgb(255, 255, 255);
}
.container{
    background-color: #fff;
    margin-bottom: 50px;
    width: 80%;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
    border-bottom: solid 10px rgb(235, 235, 235);
    transition: 0.8s;
}
.container:nth-child(1) h1{
    margin-bottom: 100px;
}
.container:nth-child(1).reveal{
    margin-top: 15%;
    width: 100%;
}
.container:nth-child(1).reveal.active{
    width: 80%;
}
.container:nth-child(2).reveal{
    width: 100%;
}
.container:nth-child(2).reveal.active{
    width: 70%;
}
.container:nth-child(3).reveal{
    width: 100%;
}
.container:nth-child(3).reveal.active{
    width: 60%;
}
.container:nth-child(4).reveal{
    width: 100%;
}
.container:nth-child(4).reveal.active{
    width: 50%;
}
.container:nth-child(5).reveal{
    width: 100%;
}
.container:nth-child(5).reveal.active{
    width: 40%;
}
#nav-bar{
    animation: scaleInAnimation ease 3s;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: -90px;
}
#nav-bar img:nth-child(1){
    background-color: #1c95e2;
    box-shadow: 0px 0px 0px 10px #1c95e2;
    border-radius: 20%;
    width: 3%;
    height: 3%;
    margin-right: 3%;
    transition: 0.2s;
    cursor: pointer;
}
#nav-bar img:nth-child(1):hover,
#nav-bar img:nth-child(3):hover
{
    background-color: #1471ac;
    box-shadow: 0px 0px 0px 10px #1471ac;
}
#nav-bar img:nth-child(2){
    background-color: #fff;
    box-shadow: 0px 0px 0px 10px rgb(255, 255, 255);
    border-radius: 20%;
    width: 6%;
    cursor: pointer;
    transition: 0.2s;
}
#nav-bar img:nth-child(2):hover{
    padding: 10px;
}
#nav-bar img:nth-child(3){
    background-color: #1c95e2;
    box-shadow: 0px 0px 0px 10px #1c95e2;
    border-radius: 20%;
    width: 3%;
    height: 3%;
    margin-left: 3%;
    transition: 0.2s;
    cursor: pointer;
}
.tweets.reveal{
    position: relative;
    transform: translate(-250px);
    margin-left: -500px;
    opacity: 0;
    transition: all 1s ease;
  }
.tweets.reveal.active{
    z-index: 12;
    transform: translate(0px);
    margin-left: 0px;
    opacity: 1;
  }
.tweets{
    border-radius: 50px;
    display: flex;
    margin-bottom: 100px;
    justify-items: center;
    justify-content: center;
}

.tweets img:first-child{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.tweet-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 0px -1px #e7e7e7;
}
.name{
    font-size: 1.4em;
}
.user-name{
    font-size: 0.5em;
    color: rgb(167, 167, 167);
}
.tweet-date{
    font-size: 0.5em;
    color: rgb(167, 167, 167);
}
.tweet-content{
    font-size: 2em;
}
.title:nth-child(2).reveal{
    opacity: 0;
    transform: translateY(250px);
    transition: all 1s ease;
}
.title:nth-child(2).reveal.active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease;
}
.description.reveal,
.title.reveal{
    opacity: 0;
    transform: translateY(125px);
    transition: all 1s ease;
}
.description.reveal.active,
.title.reveal.active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease;
}
.description-image.reveal{
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
}
.description-image.reveal.active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease;
}
.title:nth-child(2){
    text-align: center;
    margin-bottom: 150px;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 6em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #1c95e2;
    text-decoration-thickness: 10px;
    text-underline-offset: 15px;
}
.description{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 4em;
}
.description-image{
    transition: all 2s ease;
    width: 69%;
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.suscribe-button{
    border: none;
    margin-top: 50px;
    cursor: pointer;
    font-size: 5em;
    text-decoration: none;
    padding: 20px 50px;
    color: #fff;
    background: #1c95e2;
    transition: color 0.2s,background-color 0.2s, box-shadow 0.2s, opacity 2s, transform 2s;
    border-radius: 500px;
    font-weight: bold;
  }
.suscribe-button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 10px -10px 0px 5px #1c95e2;
}
.suscribe-button.reveal{
    opacity: 0;
    transform: translateY(50px);
}
.suscribe-button.reveal.active{
    opacity: 1;
    transform: translateY(0px);
}

/* Scroll Down cursor*/
#scroll-down{
    pointer-events: none;
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    justify-content: center;
}
.chevron {
    margin-top: 5%;
    position: absolute;
    width: 10%;
    height: 4%;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  .chevron:nth-child(3) {
    animation: move 3s ease-out 3s infinite;
  }
  .chevron:nth-child(4) {
    animation: move 3s ease-out 4s infinite;
  }
  .chevron:nth-child(2)::before,
  .chevron:nth-child(2)::after{
    background: #1c95e2;
  }
  .chevron:nth-child(3)::before,
  .chevron:nth-child(3)::after{
    background: #ffffff;
  }
  .chevron:nth-child(4)::before,
  .chevron:nth-child(4)::after{
    background: #1c95e2;
  }
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #ffffff;
  } 
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  @keyframes pulse {
    to {
      opacity: 1;
    }
}
/* Scroll Down cursor*/

/* UP arrow*/
.arrow{
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
    scale: 8;
    border: solid rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transition: 0.5s;
}
.up{
    transform: rotate(-135deg);
}
.arrow:hover{
    scale: 10;
    border-color: #1c95e2;
}
/* UP arrow*/